@model IEnumerable<TagLifeASPMVC.Models.Publicacion>



@if (Model != null)
{
    @:<div class="tab-pane fade">
    foreach (var item in Model)
    {
        @:<div class="thumbnail">
            @:<a href="href= "@Url.Action("Index", "Publicaciones", new { idpublicacion = "@item.id" })">
                @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" alt="@Html.DisplayFor(modelItem => item.Nombre)">
                @:<div class="caption">
                    @:<p>@Html.DisplayFor(modelItem => item.Nombre)</p>
                @:</div>
            @:</a>
        @:</div>

    }
}

