@model IEnumerable<TagLifeASPMVC.Models.Publicacion>
@{
    if (Model != null)
    {
        var contador = 0;
        foreach (var item in Model)
        {

            if (contador < 3)
            {
                if (contador == 0)
                {
                    @:<div class="row">
                }
                @:<div class="col-md-4">
                    @:<div class="thumbnail">
                        @:<a href="@Url.Action("Index", "Publicacion",new {idpublicacion = item.iD})">
                        if (item.Tipo == "Imagen")
                        {
                            @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" alt="Lights" style="width:100%">
                        }
                        else if (item.Tipo == "Video")
                        {
                            @:<img style="width:100%" src="https://blog.majestic.com/wp-content/uploads/2010/10/Video-Icon-crop.png" alt="@Html.DisplayFor(modelItem => item.Nombre)" class="img-rounded" style="width:150%">
                        }
                        else if (item.Tipo == "Audio")
                        {
                            @:<img style="width:100%" src="https://files.paredro.com/uploads/2015/06/audio.jpg" alt="@Html.DisplayFor(modelItem => item.Nombre)" class="img-rounded" style="width:150%">
                        }
                        @:</a>
                        @:<div class="caption">
                            @:<p>@item.Nombre</p>
                            @:</div>
                        @:</div>
                    @:</div>
             contador++;
            }
            if (contador == 3)
            {
                @:</div>
                    contador = 0;
            }
        }
    }
    else
    {
        <h4><b> No hay Me gusta</b></h4>
    }
}