@model IEnumerable<TagLifeASPMVC.Models.Categoria>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iD }) |
            @Html.ActionLink("Details", "Details", new { id=item.iD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iD })
        </td>
    </tr>
}

</table>
